{{!< default}}
{{#contentFor 'head'}}
<link rel="stylesheet" href="../public/css/dashboard.css">
<link href='../public/fullcalendar/core/main.css' rel='stylesheet' />
<link href='../public/fullcalendar/daygrid/main.css' rel='stylesheet' />

{{/contentFor}}
{{#contentFor 'script'}}
<script src="../public/js/dashboardDesign.js"></script>

<script src='../public/fullcalendar/core/main.js'></script>
<script src='../public/fullcalendar/daygrid/main.min.js'></script>
<script src='../public/fullcalendar/core/locales-all.min.js'></script>
<script src='../public/fullcalendar/interaction/main.min.js'></script>

<script>

    if ({{ totalNotes }} != 0) {
        document.querySelector("#dropdownMenu2 i").style.color = "red";
    } else {
        document.querySelector(".dropdown-menu").innerHTML = "<span style=padding:5px;>No notifications!</span>"
    }


    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        window.calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'interaction'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: "none"
            },
            defaultView: "dayGridMonth",
            editable: true,
            selectable: true,
            locale: "sv",
            buttonIcons: true, // show the prev/next text
            weekNumbers: true,
            navLinks: false, // can click day/week names to navigate views
            eventStartEditable: true,
            defaultDate: new Date(),
            eventLimit: false, // allow "more" link when too many events
            select: function (e) {
                console.log(e);
                $('#estart').val(e.startStr);
                $('#eend').val(e.endStr);

            },
            eventClick: function (e) {
                $('#selectedEvent').html(e.event.title);
                $('#removeEvent').attr('data-target', e.event.id);
            },
            eventResize: function (data) {
                console.log(data);
            },
            events: []
        });

        calendar.render();

        $('#showCalender').on('shown.bs.modal', function () {
            window.calendar.render();
        });



    });

</script>
{{/contentFor}}
<main>
    <div class="topButtons">

        <button type="button" data-toggle="modal" id="delProject" data-target="#removeProjectModal"
            class="btn adminBtn btn-danger">Delete Project</button>
        <button type="button" data-toggle="modal" data-target="#addUserModal" class="btn btn-primary deleteProject">Add
            User</button>
        <button type="button" data-toggle="modal" data-target="#showCalender" class="btn btn-primary deleteProject">Show
            Calender</button>
        <button type="button" data-toggle="modal" data-target="#webhookModal"
            class="btn adminBtn btn-primary deleteProject">Manage
            Webhooks</button>
    </div>

    <div class="tasks">
        <div id="taskViewHeader" class="taskViewGrid">
            <p class="center">BACKLOG</p>
            <p class="center">TODO</p>
            <p class="center">In Progress</p>
            <p class="center">To Verify</p>
            <p class="center">Impediments</p>
            <p class="center">DONE</p>
        </div>
        <div class="taskViewGrid" id="taskView">
            <div class="card">
                <ul id="BACKLOG" class="list-group list-group-flush" ondrop="drop(event)" ondragover="allowDrop(event)">
                </ul>
            </div>
            <div class="card">
                <ul id="TODO" class="list-group list-group-flush" ondrop="drop(event)" ondragover="allowDrop(event)">
                </ul>
            </div>
            <div class="card">
                <ul id="INPROGRESS" class="list-group list-group-flush" ondrop="drop(event)"
                    ondragover="allowDrop(event)">

                </ul>
            </div>
            <div class="card">
                <ul id="TOVERIFY" class="list-group list-group-flush" ondrop="drop(event)"
                    ondragover="allowDrop(event)">

                </ul>
            </div>
            <div class="card">
                <ul id="IMPEDIMENTS" class="list-group list-group-flush" ondrop="drop(event)"
                    ondragover="allowDrop(event)">

                </ul>
            </div>
            <div class="card">
                <ul id="DONE" class="list-group list-group-flush" ondrop="drop(event)" ondragover="allowDrop(event)">
                </ul>
            </div>
        </div>
    </div>
    <div id="showAddTaskForm"><button type="button" id="showForm" class="btn btn-outline-primary"><i
                class="fas fa-plus fa-2x"></i></button>
    </div>
    <div class="infoGrid" id="mainInfo">

        <div class="infoGrid">
            <div id="taskDesc" class="border hide">
                <p id="infoName">Name</p>
                <p id="infoDesc">Desc</p>
                <p id="infoState">state</p>
                <p id="infoPostdate">Posted</p>
                <p id="infoProjectId">Prject ID</p>
                <i id="edit" class="fas fa-edit fa-2x"></i>
                <i id="remove" class="fas fa-trash-alt fa-2x right remove"></i>
                <button type="button" id="asign" data-toggle="modal" data-target="#asignTaskModal"
                    class="btn btn-primary deleteProject">Asign
                    Task</button>
            </div>
            <div id="form" class="">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Task Name</span>
                    </div>
                    <input type="text" class="form-control" id="taskNameInput" placeholder="Task Name"
                        aria-label="Task Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Task Description</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Task Description" aria-label="Task Description"
                        id="taskDescriptionInput" aria-describedby="basic-addon1">
                </div>
                <button type="button" id="submitTask" class="btn btn-outline-primary">Add Task</button>
            </div>
            <div id="comments" class="border hide">
                <div id="allComments">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-comment"></i></span>
                    </div>
                    <input type="text" id="Comment" class="form-control" id="taskNameInput" placeholder="Comment"
                        aria-label="Comment" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <button type="button" class="input-group-text btn btn-outline-primary"
                            id="addComment">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="log" class="border">
            {{#each logs}}
            {{{this.html}}}
            {{/each}}
        </div>
    </div>

</main>

<div class="modal fade" id="addUserModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form class="addNew">
                <div class="form-group">
                    <label for="name">Username</label>
                    <input type="input" class="form-control" id="usernameAdd" placeholder="Enter Username">
                </div>
                <div class="from-group"><button class="btn btn-primary" id="addUser">Add User</button></div>
            </form>
        </div>
    </div>
</div>
<div class="modal  fade" id="showCalender" role="dialog">
    <div class="modal-dialog cal-diaglog modal-lg">
        <div class="modal-calendar modal-content">
            <div id="calendar"></div>
            <div class="calPadding">
                <div class="form-group ">
                    <label for="estart">Event Start</label><input type="date" class="form-control" id="estart">
                    <label for="eend">Event End</label><input type="date" class="form-control" id="eend">
                    <label for="ename">Event Name</label><input type="text" placeholder="Event Name"
                        class="form-control" id="ename">
                </div>

                <p>Selected Event:<span id="selectedEvent"></span></p>
                <button type="button" class="btn btn-primary" id="addEvent">Add event</button>
                <button type="button" class="btn btn-danger" data-target="" id="removeEvent">Remove selected
                    event</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="removeProjectModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form class="addNew">
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input type="input" class="form-control" id="projectRemove" placeholder="Enter the Project name">
                </div>
                <div class="from-group"><button class="btn btn-danger" id="removeProject">Remove Project</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="asignTaskModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form class="addNew">
                <div id="asignUsers">
                </div>
                <i class="fa fa-trash" id="removeUserAssign" aria-hidden="true"></i>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="webhookModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="container webhooks">
                <div class="currentWebhooks">

                </div>
                <div class="form-group">
                    <label for="newUrl">Webhook URL</label>
                    <input type="url" class="form-control" id="newUrl" placeholder="Paste webhook url">
                </div>
                <button type="button" class="btn btn-primary" data-target="" id="addWebhook">Add new webhook</button>
            </div>
        </div>
    </div>
</div>