{{#contentFor 'script'}}
<script src="../public/js/index.js"></script>
<script>
    if ({{ totalNotes }} != 0) {
        document.querySelector("#dropdownMenu2 i").style.color = "red";
    } else {
        document.querySelector(".dropdown-menu").innerHTML = "<span style=padding:5px;>No notifications!</span>"
    }
</script>
{{/contentFor}}


{{!< default}}
<main class="container">
    <h1 class="title">The last collaboration tool you will ever use</h1>
    <video id="basicVideo" controls autoplay muted loop>
        <source src="./public/img/basic.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h2 class="title">Try our easy to use tool</h2>
    <div class="testbox"></div>
    <div class="information">
        <img src="./public/img/message.bmp" alt="Message" class="display">
        <p>Our tool makes it easy to collaborate on a single project, to work in teams, and have a more transparent
            workflow. This is achived by working with an agile workflow. Out platform has all the tools to
            work in the most efficient way.
        </p>
    </div>
    <h2 class="title">Easy collaboration</h2>
    <div class="information">

        <p>Collaboration is easy with <b>Flow.</b> Flow is live, so you wont miss a thing, its fast, so you never have to
            wait, and its intuative, so you can get going as soon as you have <a href="/signup">set up</a> an account
        </p>
        <img src="./public/img/project.bmp" alt="Projects" class="display">
    </div>
</main>