{{!< default}}
{{#if loggedIn}}
<div class="triangle"></div>
<div class="projects">
    {{#each allProjects}}
    <button class="project" id="{{this.id}}" type="button" class="btn btn-secondary" data-toggle="tooltip"
        data-placement="right" title="{{this.name}}">
        A
    </button>
    {{/each}}
    <button class="project" id="#addProject" type="button" class="btn btn-secondary" data-toggle="modal tooltip"
        data-target="#myModal" data-placement="right" title="{{this.name}}">
        A
    </button>

</div>
{{/if}}
<main class="container">
</main>