{{!< default}}
{{#if loggedIn}}
<div class="triangle"></div>
<div class="projects">
    {{#each allProjects}}
    <button class="project" id="{{this.id}}" type="button" class="btn btn-secondary" data-toggle="tooltip"
        data-placement="right" title="{{this.name}}">
        A
    </button>
    {{/each}}
    <button class="" id="addProject" type="button" class="btn btn-secondary" data-toggle="tooltip"
        data-placement="right" title="{{this.name}}">
        <i class="fas fa-plus-circle fa-2x"></i>
    </button>

</div>
{{/if}}
<main class="container">
</main>