<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/solid.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0" id="userControl">
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>

    </header>
    <main>
        <div class="alert alert-danger hide" role="alert" id="alert">
            This is a danger alert—check it out!
        </div>
        <div class="form">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon1">
            </div>

            <button type="button" id="ssubmit" class="btn btn-outline-primary">Log In</button>
        </div>
    </main>
    <footer>

    </footer>
    <script src="./public/js/jquery/jquery.js"></script>
    <script src="./public/js/signuplogin.js"></script>
    <script src="./public/js/js.js"></script>
    <script src="./public/js/userAgent.js"></script>
</body>

</html>