{{!< default}}
{{#contentFor 'script'}}
<script src="../public/js/signuplogin.js" defer></script>
{{/contentFor}}
<main>
    <div class="alert alert-danger hide" role="alert" id="alert">
        This is a danger alert—check it out!
    </div>
    <div class="form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
            </div>
            {{!-- sad --}}
            <input type="text" class="form-control" id="firstname" placeholder="First Name" aria-label="First Name"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
            </div>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" aria-label="Last Name"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" id="email" placeholder="Email" aria-label="Email"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Password"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" id="password2" placeholder="Confirm Password"
                aria-label="Confirm Password" aria-describedby="basic-addon1" required>

        </div>
        <button type="button" id="ssubmit" class="btn btn-outline-primary">Sign Up</button>
    </div>
</main>