.desc {
    overflow: hidden;
}

.hidden {
    height: 0px;
}

.taskViewGrid {
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 16.6%));
    grid-template-rows: auto;
    gap: 0.3em;
}

.taskHolder {
    border: 2px solid black;
    padding: 0.5em;
    transition: 100ms ease-in-out;
}

.taskHolder:hover {
    background-color: #63BFBF;
}

.tasks {
    border-radius: 2em;
    width: 90%;
    margin: auto;
    padding: 2em;
}

.taskItem {
    transition: 100ms ease-in-out;
    height: 3em;
<<<<<<< HEAD
    margin:0.5em;
    border-radius:2px !important;
    box-shadow: 1px 2.5px 2px 2.5px #21404071;
=======
    font-size: 14px;
    box-shadow: 5px 10px 8px 10px #8d8d8d42;
    cursor: grabbing;
>>>>>>> 21dbebf6cb652c8fc8a693618ad1a749d9d7acee
}

.taskItem:hover {
    background: lightgray;
    height: 5em;
}

.card {
    display: flex;
    height: 40vh;
    overflow: hidden;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.infoGrid {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1em;
    width: 100%;
    margin: auto;
}

#mainInfo {
    width: 90%;
}

.comment {
    padding: 2px;
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.5em;
}