.desc {
    display: block;
}

.card {
    background: #235;
    height: 40vh;
}

.card ul {
    overflow: hidden;
}

.hidden {
    display: none;
}

.currentTask {
    background: lightgray;
}

#allComments {
    overflow-y: auto;
    height: 20vh;
}

.commentContent {
    margin: 0;
    padding: 0;
}

.taskViewGrid {
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 16.6%));
    gap: 0.3em;
}

.taskHolder {
    border: 2px solid black;
    padding: 0.5em;
    transition: 100ms ease-in-out;
}

.taskHolder:hover {
    background-color: #63BFBF;
}

.tasks {
    border-radius: 2em;
    width: 90%;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.taskItem {
    transition: 100ms ease-in-out;
    min-height: 3em;
    height: 3em;
    font-size: 14px;
    border: 1px solid #222 !important;
    border-radius: 5px !important;
    box-shadow: 1px 2.5px 2px 2.5px #232;
    cursor: grab;
    overflow: hidden;
    background: #333;
}

.taskItem:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.taskItem:hover {
    background: #222;
    height: 5em;
    min-height: 5em;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #222;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.infoGrid {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1em;
    width: 100%;
    margin: auto;
}

#mainInfo {
    width: 90%;
    padding: 2em;
}

#taskDesc {
    overflow-x: scroll;
}

.comment {
    padding: 2px;
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.25rem;
    padding: 0.5em;
}

#showForm {
    padding: 0;
    border: 0;
    text-decoration: none;
}

#showAddTaskForm {
    padding-left: 2em;
    margin-left: 5em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#showForm:hover {
    background: none;
}

#showForm:hover i {
    color: #63BFBF;
}

#showForm i {
    transition: all 100ms ease-in-out;
}

#log {
    border: 2px solid #222 !important;
    background: #235;
    height: 23vh;
    overflow-y: scroll;
    font-family: monospace;
}

#log span {
    color: grey!important;
    background: black !important;
}

#remove, #edit {
    transition: all ease-in-out 100ms;
    cursor: pointer;
}

#remove:hover {
    color: red;
}

.userNotes {
    color: #222 !important;
}

#edit:hover {
    color: #63BFBF;
}

.asignUser {
    margin: 5px;
    width: 90%;
}

#calendar {
    padding: 3em;
}

.calPadding {
    padding: 3em;
}

.topButtons {
    margin: 2em;
    margin-top: 1em;
}

#comments {
    background: #235;
}

#taskDesc {
    background: #235;
}

.webhooks {
    padding: 2em;
}