.desc {
    display: block;
}
.card {
    height:40vh;
}
.card ul{
    overflow: hidden;
}

.hidden {
    display:none;
}

.currentTask {
    background: lightgray;
}

#allComments {
    overflow-y: auto;
    height: 20vh;
}

.commentContent {
    margin: 0;
    padding: 0;
}

.taskViewGrid {
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 16.6%));
    gap: 0.3em;
}

.taskHolder {
    border: 2px solid black;
    padding: 0.5em;
    transition: 100ms ease-in-out;
}

.taskHolder:hover {
    background-color: #63BFBF;
}

.tasks {
    border-radius: 2em;
    width: 90%;
    margin: auto;
    padding: 2em;
}

.taskItem {
    transition: 100ms ease-in-out;
    min-height:3em;
    height: 3em;
    font-size: 14px;
    border: 1px solid #214040 !important;
    border-radius: 5px !important;
    box-shadow: 1px 2.5px 2px 2.5px #8d8d8d42;
    cursor: grab;
    overflow:hidden;
}

.taskItem:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.taskItem:hover {
    background: lightgray;
    height: 5em;
    min-height:5em;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.infoGrid {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1em;
    width: 100%;
    margin: auto;
}

#mainInfo {
    width: 90%;
    padding: 2em;
}
#taskDesc{
    overflow-x:scroll;
}

.comment {
    padding: 2px;
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.5em;
}

#showForm {
    padding: 0;
    border: 0;
    text-decoration: none;
}

#showAddTaskForm {
    padding-left: 2em;
    margin-left: 5em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#showForm:hover {
    background: none;
}

#showForm:hover i {
    color: #63BFBF;
}

#showForm i {
    transition: all 100ms ease-in-out;
}

#log {
    height: 23vh;
    overflow-y: scroll;
    font-family: monospace;
}
#remove, #edit{
    transition: all ease-in-out 100ms;
    cursor:pointer;
}
#remove:hover{
    color:red;
}
#edit:hover{
    color:#63BFBF;
}
.deleteProject{
    float:right;
    padding:0.5em;
}
