* {
    box-sizing: border-box;
    color: #214040;
    overflow: hidden;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #214040;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav>ul {
    padding: 0.3em;
    width: 100%;
}

.nav-link {
    color: #63BFBF !important;
    transition: 100ms ease-in-out;
}

.nav-link:hover {
    color: #85FFFE !important;
}

li.active>a {
    color: #85FFFE !important;
}

.navbar {
    background: #214040;
}

.right {
    float: right;
}

.hide {
    display: none !important;
}

.alert {
    width: 90%;
    margin: 1em auto;
}

.center {
    text-align: center;
}

.form {
    width: 30%;
    margin: auto;
    margin-top: 10%;
}

#form {
    width: 90%;
    margin: auto;
    padding: 2em;
}

.missing-info {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

ul {
    height: 100%;
}

.projects {
    padding-top: 2em;
    direction: rtl;
    overflow: auto;
    position: fixed;
    width: 4em;
    height: 100vh;
    background: #214040;
}

.project {
    color: #63BFBF;
    background: grey;
    border: 2px solid #214040 !important;
    border-radius: 100%;
    height: 3em;
    width: 3em;
    margin:0.5em;
    transition: all 200ms ease-in-out;
}
.project p{
    font-weight: bold;
    color: #63BFBF; 
    text-align: center;
    position: relative;
    display:block;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin:0;
}

#addProject {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    border: 2px solid #214040 !important;
    border-radius: 100%;
    height: 3em;
    width: 3em;
    margin: 0.5em;
    float: bottom;
}

#addProject i {
    transition: all 200ms ease-in-out;
    border-radius: 100%;
}

#addProject:hover i {
    color: #85FFFE !important;
    background: #214040;
    cursor: pointer;
}

.project:hover {
    border: 2px solid #85FFFE !important;
    cursor: pointer;
}

.currentProject {
    border: 2px solid #85FFFE !important;
}

.triangle {
    position: fixed;
    width: 7em;
    height: 2em;
    transform: rotateZ(-45deg);
    background: #214040;
    z-index: -1111;
}
.triangle-down{
    position: fixed;
    bottom:1.7em;
    width: 7em;
    height: 2em;
    transform: rotateZ(45deg);
    background: #214040;
    z-index: -1111;
}

.addNew {
    padding: 2em;
}
.notes{
    background: #214040;
    color:#85FFFE;
    float:right;
    padding-bottom:10px;
    font-weight:500;
}
.taskNotes{
    background: #214040;
    color:#85FFFE;
    float:right;
    font-weight:500;
}
.userNotes{
    color:grey;
    display: inline;
}
