* {
    box-sizing: border-box;
    color: #214040;
}

nav>ul {
    padding: 0.3em;
    width: 100%;
}

.nav-link {
    color: #63BFBF !important;
    transition: 100ms ease-in-out;
}

.nav-link:hover {
    color: #85FFFE !important;
}

li.active>a {
    color: #85FFFE !important;
}

.navbar {
    background: #214040;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.alert {
    width: 90%;
    margin: 1em auto;
}

.taskViewGrid {
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 16.6%));
    grid-template-rows: auto;
    gap: 0.3em;
}

.spacer {
    height: 3em;
    transition: 250ms ease-in-out;
}

.taskHolder {
    border: 2px solid black;
    padding: 0.5em;
    transition: 100ms ease-in-out;
}

.taskHolder:hover {
    background-color: #63BFBF;
}

.tasks {

    border-radius: 2em;
    width: 90%;
    margin: auto;
    padding: 2em;
}

.center {
    text-align: center;
}

.form {
    width: 30%;
    margin: auto;
    margin-top: 10%;
}

.missing-info {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.taskItem {
    transition: 250ms ease-in-out;
    height: 3em;
}
ul{
    height:100%;
}

.taskItem:hover {
    background: lightgray;
    height: 5em;
}
.card{
    display:flex;
    height:40vh;
    overflow: hidden;
}

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }