.desc {
    overflow: hidden;
}

.hidden {
    display: none;
}

.infoGrid {
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1em;
    width: 100%;
    margin: auto;
}
.container{
    padding:0;
}

#mainInfo {
    width: 100%;
    padding-top:2em;
}

.comment {
    padding: 2px;
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0.5em;
}
.friend{
    margin:0.3em;
}
.friend p {
    margin:auto;
    display: inline-block;
}
.friend span{
    transition: all 100ms ease-in-out;
}
.friend span:hover{
    transform: scale(0.97);
    cursor: pointer;
}
.choice{
    float:right;
    cursor: pointer;
    margin:auto;
}
.accept i{
    color:green;
}
.decline i{
    color:red;
}
.acceptFriend i{
    color:green;
}
.declineFriend i{
    color:red;
}